<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="accessToken" content="{{config.mapbox.accessToken}}" />
        <title>思源地圖</title>
        <link rel="icon" href="static/image/logo.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/scss/main.css?v={{config.version}}" rel="stylesheet" type="text/css">
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    </head>
    <body>
        <div id="app" class="sourcing-water">
            <div id="map" class="main-map"></div>
            <div class="topbar">
                <a href="/">
                    <img class="icon" src="static/image/logo.png">
                </a>
                <div id="geocoder" class="searchbox"></div>
            </div>
            <div class="side-icon-panel">
                <img class="icon" src="static/image/icon-about.png" title="關於本站" @click="OpenAboutPanel();">
                <img class="icon" src="static/image/icon-search.png" title="追本溯源" @click="OpenQuestPanel();">
            </div>
            <div class="logo-container">
                <img class="logo" src="static/image/logo-lass.jpg">
            </div>
            <div class="bottom-icon-panel">
                <img class="icon" src="static/image/icon-setting.png" title="圖層選項" @click="OpenOptionPanel();">
                <img class="icon" src="static/image/icon-chart.png" title="顯示圖表" @click="OpenChartPanel();">
            </div>

            <div class="left-panel" :class="{open: openOptionPanel}">
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseOptionPanel();">
                <div class="content-scroll">
                    <div class="container">
                        <div class="title">圖層選項</div>
                        <div class="content-block">
                            <div class="bt" @click="ShowAllBasin();">選擇流域</div>
                            <!--<div class="option-item" v-if="layer.rainStation">
                                <input type="checkbox" v-model="layer.rainStation.show" @change="UpdateLayer();">
                                <div class="item-label">顯示雨量站</div>
                            </div>
                            <div class="option-item" v-if="layer.floodStation">
                                <input type="checkbox" v-model="layer.floodStation.show" @change="UpdateLayer();">
                                <div class="item-label">顯示淹水測站</div>
                            </div>-->
                            <div class="option-item" v-if="layer.LUIMap">
                                <input type="checkbox" v-model="layer.LUIMap.show" @change="layer.LUIMap.Update();">
                                <div class="item-label">國土利用</div>
                                <select v-model="layer.LUIMap.mapName" @change="layer.LUIMap.Update();">
                                    <option value="LUIMAP01">農業</option>
                                    <option value="LUIMAP02">森林</option>
                                    <option value="LUIMAP03">交通</option>
                                    <option value="LUIMAP04">水利</option>
                                    <option value="LUIMAP05">建築</option>
                                    <option value="LUIMAP06">公共</option>
                                    <option value="LUIMAP07">遊憩</option>
                                    <option value="LUIMAP08">礦鹽</option>
                                    <option value="LUIMAP09">其他</option>
                                </select> 
                            </div>
                            <!--<div class="option-item" v-if="layer.irrigationMap">
                                <input type="checkbox" v-model="layer.irrigationMap.show" @change="UpdateLayer();">
                                <div class="item-label">圳路圖層</div>
                            </div>-->
                            <div class="option-item" v-if="layer.commutag">
                                <input type="checkbox" v-model="layer.commutag.show" @change="UpdateLayer();">
                                <div class="item-label">群眾標註</div>
                            </div>
                        </div>

                        <div class="quest-history">
                            <div class="title">回溯探索</div>
                            <div class="content-block">
                                <div class="option-item">
                                    <div class="item-label">最大數量</div>
                                    <input type="number" v-model="history.maxSize" min=0 max=20>
                                </div>
                                <table class="history-table">
                                    <thead>
                                        <th>探索</th>
                                        <th>目標</th>
                                        <th></th>
                                    </thead>
                                    <tr class="history-row" :class="{selected: history.index==i}" v-for="(q,i) in history.questArr" @click="SelectQuestHistory(i)">
                                        <td>[[q.quest.quest.name]]</td>
                                        <td>[[q.quest.nodeName]]</td>
                                        <td>
                                            <div class="icon-container">
                                                <input type="checkbox" v-model="q.quest.show" @click.stop="" @change="q.quest.Update();">
                                                <img class="icon" src="static/image/icon-close.png" @click.stop="" @click="RemoveQuestHistory(i);">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-panel" :class="{open: openQuestPanel}">
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseQuestPanel();">
                <div class="content-scroll">
                    <div class="container">
                        <div class="title">追本溯源</div>
                        <div class="sub-title" v-if="logicTopo">[[logicTopo.curKind]]:[[logicTopo.nodeName]]</div>
                        <div class="quest-item" :class="{selected: i==curQuest.index}" v-for="(q,i) in questArr" @click="SelectQuest(i);">
                            <div class="quest-content" :class="{
                                'status-ok': q.status==0,
                                'status-demo': q.status==1,
                                'status-no-data':q.status==2,
                                'status-develop':q.status==3,
                                'status-plan':q.status==4}">
                                [[i+1]]. [[q.name]]
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="action-container">
                    <div class="action-bt enable" v-if="history.index>0" @click="SelectQuestHistory(history.index-1);">
                        <img class="icon"  title="上一項" src="static/image/icon-prev.png">
                    </div>
                    <div class="action-bt" v-else>
                        <img class="icon" src="static/image/icon-prev-disable.png">
                    </div>
                    <div class="action-bt enable" @click="SelectBasin(curBasin);">
                        <img class="icon"  title="回流域" src="static/image/icon-home.png">
                    </div>
                    <div class="action-bt enable" v-if="history.index<history.questArr.length-1" @click="SelectQuestHistory(history.index+1);">
                        <img class="icon"  title="下一項" src="static/image/icon-next.png">
                    </div>
                    <div class="action-bt" v-else>
                        <img class="icon" src="static/image/icon-next-disable.png">
                    </div>
                </div>
            </div>

            <div class="bottom-panel" :class="{open: openChartPanel}">
                <div class="content-scroll">
                    <div class="chart-container">
                        <div v-for="(chart,i) in chartArr" class="chart" :id="'chart'+i"></div>
                    </div>
                </div>
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseChartPanel();">
            </div>

            <div class="player-panel" :class="{open: openPlayerPanel}">
                <div class="icon-container">
                    <img class="icon" v-show="!player.isPlay" src="static/image/icon-play.png" @click="player.playFn">
                    <img class="icon" v-show="player.isPlay" src="static/image/icon-pause.png" @click="player.pauseFn">
                    <img class="icon" src="static/image/icon-close.png" @click="player.stopFn">
                </div>
            </div>

            <div class="quest-input-panel" :class="{open: openQuestInputPanel}">
                <div class="input-container">
                    <div class="input-item" v-for="input in questInput.config">
                        <div class="title">[[input.name]]</div>
                        <input type="number" v-if="input.type == 'number' " v-model="input.value" :min="input.min" :max="input.max" :step="input.step" @change="questInput.updateFn">
                    </div>
                </div>
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseQuestInputPanel();">
            </div>

            <transition name="fade">
                <div class="center-panel" v-if="openAboutPanel">
                    <img src="static/image/icon-close.png" class="close-bt" @click="CloseAboutPanel();">
                    <div class="content-scroll">
                        <div class="container">
                            <div class="title">關於本站</div>
                            <div class="content-block">
                                <p>「思源地圖」 為<a href="https://www.facebook.com/groups/1607718702812067" target="_blank">LASS社群</a>的開放專案，整合了水資源相關的政府開放資料和民間的標註、分析資料，並以上下游拓樸的方式呈現在地圖上。使用者可以用問答介面追溯不同資料的關聯，快速掌握流域內的水文狀況。</p>
                                <p>本專案同時也是一個檢核工具，用整體流域的視角來評估政府開放資料的正確性和完整性，突破政府部門各自擁有資料卻很難互相流通的現狀。在資料完備且流通順暢的基礎下，政府跟民間才能多方交流，共同建立更完善的流域治理架構，達到「喝好水 吃好物 有良居」的願景目標。</p>
                            </div>
                            <div class="title">相關連結</div>
                            <div class="content-block">
                                <ul>
                                    <li><a href="https://github.com/aga3134/SourcingWater" target="_blank">網站開放源始碼</a></li>
                                    <li><a href="https://docs.google.com/document/d/1vgIEMngmovdXS01sOAu-KVumA-VdZkN66QUKzvnrhd8/edit?usp=sharing" target="_blank">2021總統盃計畫書</a></li>
                                    <li><a href="https://github.com/LinkItONEDevGroup/waterswak" target="_blank">水文分析系統</a></li>
                                    <li><a href="https://agawork.tw/" target="_blank">阿嘉的其他專案</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>

            <div class="loading-page" v-show="isLoading">
                <div class="center-box">
                    <img class="logo" src="static/image/logo.png">
                    <div class="title">思源地圖</div>
                </div>
            </div>
        </div>

        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="static/js/BaseLayer.js?v={{config.version}}"></script>
        <script src="static/js/WMTSLayer.js?v={{config.version}}"></script>
        <script src="static/js/LUIMapLayer.js?v={{config.version}}"></script>
        <script src="static/js/BaseChart.js?v={{config.version}}"></script>
        <script src="static/js/BaseQuest.js?v={{config.version}}"></script>
        <script src="static/js/TracePathQuest.js?v={{config.version}}"></script>
        <script src="static/js/DataInputQuest.js?v={{config.version}}"></script>
        <script src="static/js/DrawShapeQuest.js?v={{config.version}}"></script>
        <script src="static/js/main.js?v={{config.version}}"></script>
    </body>
</html>