<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="accessToken" content="{{config.mapbox.accessToken}}" />
        <title>思源地圖</title>
        <link rel="icon" href="static/image/logo.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/scss/main.css?v={{config.version}}" rel="stylesheet" type="text/css">
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    </head>
    <body>
        <div id="app" class="sourcing-water">
            <div id="map" class="main-map"></div>
            <div class="topbar">
                <a href="/">
                    <img class="icon" src="static/image/logo.png">
                </a>
                <div id="geocoder" class="searchbox"></div>
            </div>
            <div class="side-icon-panel">
                <img class="icon" src="static/image/icon-about.png" title="關於本站" @click="OpenAboutPanel();">
                <img class="icon" src="static/image/icon-search.png" title="追本溯源" @click="OpenQuestPanel();">
            </div>
            <div class="logo-container">
                <img class="logo" src="static/image/logo-lass.jpg">
            </div>
            <div class="bottom-icon-panel">
                <img class="icon" src="static/image/icon-setting.png" title="圖層選項" @click="OpenOptionPanel();">
                <img class="icon" src="static/image/icon-chart.png" title="顯示圖表" @click="OpenChartPanel();">
            </div>

            <div class="left-panel" :class="{open: openOptionPanel}">
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseOptionPanel();">
                <div class="container">
                    <div class="title">圖層選項</div>
                    <div class="bt" @click="ShowAllBasin();">選擇流域</div>
                    <div class="option-item" v-if="layer.rainStation">
                        <input type="checkbox" v-model="layer.rainStation.show" @change="UpdateLayer();">
                        <div class="item-label">顯示雨量站</div>
                    </div>
                </div>
            </div>

            <div class="right-panel" :class="{open: openQuestPanel}">
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseQuestPanel();">
                <div class="container">
                    <div class="title">追本溯源</div>
                    <div class="sub-title" v-if="logicTopo && curQuest && curQuest.quest">[[logicTopo.curKind]]:[[curQuest.quest.nodeName]]</div>
                    <div class="quest" :class="{selected: i==curQuest.index}" v-for="(q,i) in questArr" @click="SelectQuest(i);">[[i+1]]. [[q.name]]</div>
                </div>
            </div>

            <div class="bottom-panel" :class="{open: openChartPanel}">
                <img src="static/image/icon-close.png" class="close-bt" @click="CloseChartPanel();">
            </div>

            <div class="player-panel" :class="{open: openPlayerPanel}">
                <div class="icon-container">
                    <img class="icon" v-show="!player.isPlay" src="static/image/icon-play.png" @click="player.playFn">
                    <img class="icon" v-show="player.isPlay" src="static/image/icon-pause.png" @click="player.pauseFn">
                    <img class="icon" src="static/image/icon-close.png" @click="player.stopFn">
                </div>
            </div>

            <transition name="fade">
                <div class="full-panel" v-if="openAboutPanel">
                    <img src="static/image/icon-close.png" class="close-bt" @click="CloseAboutPanel();">
                    <div class="container">
                        <div class="title">關於本站</div>
                    </div>
                </div>
            </transition>
        </div>

        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="static/js/BaseLayer.js?v={{config.version}}"></script>
        <script src="static/js/BaseQuest.js?v={{config.version}}"></script>
        <script src="static/js/TracePathQuest.js?v={{config.version}}"></script>
        <script src="static/js/main.js?v={{config.version}}"></script>
    </body>
</html>