@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體", "Microsoft JhengHei";
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.sourcing-water {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sourcing-water .main-map {
  width: 100%;
  height: 100%;
}

.sourcing-water .topbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 1000;
  top: 10px;
  left: 10px;
}

.sourcing-water .topbar .icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.sourcing-water .topbar .searchbox {
  margin: 5px;
}

.sourcing-water .side-icon-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 1000;
  top: 5px;
  right: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sourcing-water .side-icon-panel .icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.sourcing-water .bottom-icon-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 1000;
  bottom: 5px;
  left: 5px;
}

.sourcing-water .bottom-icon-panel .icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.sourcing-water .logo-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
}

.sourcing-water .logo-container .logo {
  height: 50px;
  border-radius: 5px;
}

.sourcing-water .left-panel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 5px 5px 0px;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100%;
}

.sourcing-water .left-panel .close-bt {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 15px;
  top: 10px;
}

.sourcing-water .left-panel .content-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sourcing-water .left-panel .container {
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sourcing-water .left-panel .container .title {
  font-size: 1.3em;
  padding: 5px 10px;
  border-bottom: 1px solid #333333;
}

.sourcing-water .left-panel .container .sub-title {
  font-size: 1.2em;
  padding: 5px 10px;
}

.sourcing-water .left-panel .container .content-block {
  margin: 10px 0px;
}

.sourcing-water .left-panel .container .quest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px;
}

.sourcing-water .left-panel .container .quest-item:hover {
  border-radius: 5px;
  border: 1px solid #333333;
  cursor: pointer;
}

.sourcing-water .left-panel .container .quest-item.selected {
  background-color: #cccccc;
}

.sourcing-water .left-panel .container .quest-item .quest-content {
  font-size: 1.1em;
}

.sourcing-water .left-panel .container .quest-item .quest-content.status-ok {
  color: #000000;
}

.sourcing-water .left-panel .container .quest-item .quest-content.status-demo {
  color: #ff9933;
}

.sourcing-water .left-panel .container .quest-item .quest-content.status-no-data {
  color: #ff3333;
}

.sourcing-water .left-panel .container .bt {
  margin: 5px;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sourcing-water .left-panel .container .item-label {
  margin: 5px;
  color: #333333;
}

.sourcing-water .left-panel .container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.sourcing-water .left-panel .container .option-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sourcing-water .left-panel .container .option-item select {
  padding: 3px;
  border-radius: 3px;
}

.sourcing-water .left-panel .container .quest-history {
  overflow-x: auto;
}

.sourcing-water .left-panel .container .quest-history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.sourcing-water .left-panel .container .quest-history .history-table thead {
  background-color: #cccccc;
}

.sourcing-water .left-panel .container .quest-history .history-table td {
  padding: 5px;
}

.sourcing-water .left-panel .container .quest-history .history-table .history-row {
  cursor: pointer;
}

.sourcing-water .left-panel .container .quest-history .history-table .history-row:nth-child(even) {
  background-color: #eeeeee;
}

.sourcing-water .left-panel .container .quest-history .history-table .history-row:nth-child(odd) {
  background-color: #ffffff;
}

.sourcing-water .left-panel .container .quest-history .history-table .history-row:hover {
  background-color: #ffffcc;
}

.sourcing-water .left-panel .container .quest-history .history-table .history-row.selected {
  background-color: #f0d5c2;
}

.sourcing-water .left-panel .action-container {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .left-panel .action-container .action-bt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .left-panel .action-container .action-bt .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sourcing-water .left-panel .action-container .action-bt.enable {
  cursor: pointer;
}

.sourcing-water .left-panel .action-container .action-bt.enable:hover {
  background-color: #cccccc;
}

.sourcing-water .left-panel .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sourcing-water .left-panel .chart-container .chart {
  margin: 10px;
  width: 400px;
}

.sourcing-water .left-panel.open {
  left: 0px;
}

.sourcing-water .right-panel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px 0px 0px 5px;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
}

.sourcing-water .right-panel .close-bt {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 15px;
  top: 10px;
}

.sourcing-water .right-panel .content-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sourcing-water .right-panel .container {
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sourcing-water .right-panel .container .title {
  font-size: 1.3em;
  padding: 5px 10px;
  border-bottom: 1px solid #333333;
}

.sourcing-water .right-panel .container .sub-title {
  font-size: 1.2em;
  padding: 5px 10px;
}

.sourcing-water .right-panel .container .content-block {
  margin: 10px 0px;
}

.sourcing-water .right-panel .container .quest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px;
}

.sourcing-water .right-panel .container .quest-item:hover {
  border-radius: 5px;
  border: 1px solid #333333;
  cursor: pointer;
}

.sourcing-water .right-panel .container .quest-item.selected {
  background-color: #cccccc;
}

.sourcing-water .right-panel .container .quest-item .quest-content {
  font-size: 1.1em;
}

.sourcing-water .right-panel .container .quest-item .quest-content.status-ok {
  color: #000000;
}

.sourcing-water .right-panel .container .quest-item .quest-content.status-demo {
  color: #ff9933;
}

.sourcing-water .right-panel .container .quest-item .quest-content.status-no-data {
  color: #ff3333;
}

.sourcing-water .right-panel .container .bt {
  margin: 5px;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sourcing-water .right-panel .container .item-label {
  margin: 5px;
  color: #333333;
}

.sourcing-water .right-panel .container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.sourcing-water .right-panel .container .option-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sourcing-water .right-panel .container .option-item select {
  padding: 3px;
  border-radius: 3px;
}

.sourcing-water .right-panel .container .quest-history {
  overflow-x: auto;
}

.sourcing-water .right-panel .container .quest-history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.sourcing-water .right-panel .container .quest-history .history-table thead {
  background-color: #cccccc;
}

.sourcing-water .right-panel .container .quest-history .history-table td {
  padding: 5px;
}

.sourcing-water .right-panel .container .quest-history .history-table .history-row {
  cursor: pointer;
}

.sourcing-water .right-panel .container .quest-history .history-table .history-row:nth-child(even) {
  background-color: #eeeeee;
}

.sourcing-water .right-panel .container .quest-history .history-table .history-row:nth-child(odd) {
  background-color: #ffffff;
}

.sourcing-water .right-panel .container .quest-history .history-table .history-row:hover {
  background-color: #ffffcc;
}

.sourcing-water .right-panel .container .quest-history .history-table .history-row.selected {
  background-color: #f0d5c2;
}

.sourcing-water .right-panel .action-container {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .right-panel .action-container .action-bt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .right-panel .action-container .action-bt .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sourcing-water .right-panel .action-container .action-bt.enable {
  cursor: pointer;
}

.sourcing-water .right-panel .action-container .action-bt.enable:hover {
  background-color: #cccccc;
}

.sourcing-water .right-panel .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sourcing-water .right-panel .chart-container .chart {
  margin: 10px;
  width: 400px;
}

.sourcing-water .right-panel.open {
  right: 0px;
}

.sourcing-water .bottom-panel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px 5px 0px 0px;
  bottom: -300px;
  left: 0px;
  width: 100%;
  height: 300px;
}

.sourcing-water .bottom-panel .close-bt {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 15px;
  top: 10px;
}

.sourcing-water .bottom-panel .content-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sourcing-water .bottom-panel .container {
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sourcing-water .bottom-panel .container .title {
  font-size: 1.3em;
  padding: 5px 10px;
  border-bottom: 1px solid #333333;
}

.sourcing-water .bottom-panel .container .sub-title {
  font-size: 1.2em;
  padding: 5px 10px;
}

.sourcing-water .bottom-panel .container .content-block {
  margin: 10px 0px;
}

.sourcing-water .bottom-panel .container .quest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px;
}

.sourcing-water .bottom-panel .container .quest-item:hover {
  border-radius: 5px;
  border: 1px solid #333333;
  cursor: pointer;
}

.sourcing-water .bottom-panel .container .quest-item.selected {
  background-color: #cccccc;
}

.sourcing-water .bottom-panel .container .quest-item .quest-content {
  font-size: 1.1em;
}

.sourcing-water .bottom-panel .container .quest-item .quest-content.status-ok {
  color: #000000;
}

.sourcing-water .bottom-panel .container .quest-item .quest-content.status-demo {
  color: #ff9933;
}

.sourcing-water .bottom-panel .container .quest-item .quest-content.status-no-data {
  color: #ff3333;
}

.sourcing-water .bottom-panel .container .bt {
  margin: 5px;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sourcing-water .bottom-panel .container .item-label {
  margin: 5px;
  color: #333333;
}

.sourcing-water .bottom-panel .container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.sourcing-water .bottom-panel .container .option-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sourcing-water .bottom-panel .container .option-item select {
  padding: 3px;
  border-radius: 3px;
}

.sourcing-water .bottom-panel .container .quest-history {
  overflow-x: auto;
}

.sourcing-water .bottom-panel .container .quest-history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.sourcing-water .bottom-panel .container .quest-history .history-table thead {
  background-color: #cccccc;
}

.sourcing-water .bottom-panel .container .quest-history .history-table td {
  padding: 5px;
}

.sourcing-water .bottom-panel .container .quest-history .history-table .history-row {
  cursor: pointer;
}

.sourcing-water .bottom-panel .container .quest-history .history-table .history-row:nth-child(even) {
  background-color: #eeeeee;
}

.sourcing-water .bottom-panel .container .quest-history .history-table .history-row:nth-child(odd) {
  background-color: #ffffff;
}

.sourcing-water .bottom-panel .container .quest-history .history-table .history-row:hover {
  background-color: #ffffcc;
}

.sourcing-water .bottom-panel .container .quest-history .history-table .history-row.selected {
  background-color: #f0d5c2;
}

.sourcing-water .bottom-panel .action-container {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .bottom-panel .action-container .action-bt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .bottom-panel .action-container .action-bt .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sourcing-water .bottom-panel .action-container .action-bt.enable {
  cursor: pointer;
}

.sourcing-water .bottom-panel .action-container .action-bt.enable:hover {
  background-color: #cccccc;
}

.sourcing-water .bottom-panel .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sourcing-water .bottom-panel .chart-container .chart {
  margin: 10px;
  width: 400px;
}

.sourcing-water .bottom-panel.open {
  bottom: 0px;
}

.sourcing-water .full-panel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  left: 0px;
  top: 0px;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.sourcing-water .full-panel .close-bt {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 15px;
  top: 10px;
}

.sourcing-water .full-panel .content-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sourcing-water .full-panel .container {
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sourcing-water .full-panel .container .title {
  font-size: 1.3em;
  padding: 5px 10px;
  border-bottom: 1px solid #333333;
}

.sourcing-water .full-panel .container .sub-title {
  font-size: 1.2em;
  padding: 5px 10px;
}

.sourcing-water .full-panel .container .content-block {
  margin: 10px 0px;
}

.sourcing-water .full-panel .container .quest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px;
}

.sourcing-water .full-panel .container .quest-item:hover {
  border-radius: 5px;
  border: 1px solid #333333;
  cursor: pointer;
}

.sourcing-water .full-panel .container .quest-item.selected {
  background-color: #cccccc;
}

.sourcing-water .full-panel .container .quest-item .quest-content {
  font-size: 1.1em;
}

.sourcing-water .full-panel .container .quest-item .quest-content.status-ok {
  color: #000000;
}

.sourcing-water .full-panel .container .quest-item .quest-content.status-demo {
  color: #ff9933;
}

.sourcing-water .full-panel .container .quest-item .quest-content.status-no-data {
  color: #ff3333;
}

.sourcing-water .full-panel .container .bt {
  margin: 5px;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sourcing-water .full-panel .container .item-label {
  margin: 5px;
  color: #333333;
}

.sourcing-water .full-panel .container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.sourcing-water .full-panel .container .option-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sourcing-water .full-panel .container .option-item select {
  padding: 3px;
  border-radius: 3px;
}

.sourcing-water .full-panel .container .quest-history {
  overflow-x: auto;
}

.sourcing-water .full-panel .container .quest-history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.sourcing-water .full-panel .container .quest-history .history-table thead {
  background-color: #cccccc;
}

.sourcing-water .full-panel .container .quest-history .history-table td {
  padding: 5px;
}

.sourcing-water .full-panel .container .quest-history .history-table .history-row {
  cursor: pointer;
}

.sourcing-water .full-panel .container .quest-history .history-table .history-row:nth-child(even) {
  background-color: #eeeeee;
}

.sourcing-water .full-panel .container .quest-history .history-table .history-row:nth-child(odd) {
  background-color: #ffffff;
}

.sourcing-water .full-panel .container .quest-history .history-table .history-row:hover {
  background-color: #ffffcc;
}

.sourcing-water .full-panel .container .quest-history .history-table .history-row.selected {
  background-color: #f0d5c2;
}

.sourcing-water .full-panel .action-container {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .full-panel .action-container .action-bt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .full-panel .action-container .action-bt .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sourcing-water .full-panel .action-container .action-bt.enable {
  cursor: pointer;
}

.sourcing-water .full-panel .action-container .action-bt.enable:hover {
  background-color: #cccccc;
}

.sourcing-water .full-panel .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sourcing-water .full-panel .chart-container .chart {
  margin: 10px;
  width: 400px;
}

.sourcing-water .player-panel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
  -webkit-box-shadow: 0px 0px 5px #333333;
          box-shadow: 0px 0px 5px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  width: 200px;
  height: 50px;
}

.sourcing-water .player-panel .close-bt {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 15px;
  top: 10px;
}

.sourcing-water .player-panel .content-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sourcing-water .player-panel .container {
  padding: 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sourcing-water .player-panel .container .title {
  font-size: 1.3em;
  padding: 5px 10px;
  border-bottom: 1px solid #333333;
}

.sourcing-water .player-panel .container .sub-title {
  font-size: 1.2em;
  padding: 5px 10px;
}

.sourcing-water .player-panel .container .content-block {
  margin: 10px 0px;
}

.sourcing-water .player-panel .container .quest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px;
}

.sourcing-water .player-panel .container .quest-item:hover {
  border-radius: 5px;
  border: 1px solid #333333;
  cursor: pointer;
}

.sourcing-water .player-panel .container .quest-item.selected {
  background-color: #cccccc;
}

.sourcing-water .player-panel .container .quest-item .quest-content {
  font-size: 1.1em;
}

.sourcing-water .player-panel .container .quest-item .quest-content.status-ok {
  color: #000000;
}

.sourcing-water .player-panel .container .quest-item .quest-content.status-demo {
  color: #ff9933;
}

.sourcing-water .player-panel .container .quest-item .quest-content.status-no-data {
  color: #ff3333;
}

.sourcing-water .player-panel .container .bt {
  margin: 5px;
  padding: 5px 10px;
  background-color: #555555;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sourcing-water .player-panel .container .item-label {
  margin: 5px;
  color: #333333;
}

.sourcing-water .player-panel .container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.sourcing-water .player-panel .container .option-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sourcing-water .player-panel .container .option-item select {
  padding: 3px;
  border-radius: 3px;
}

.sourcing-water .player-panel .container .quest-history {
  overflow-x: auto;
}

.sourcing-water .player-panel .container .quest-history .history-table {
  width: 100%;
  border-collapse: collapse;
}

.sourcing-water .player-panel .container .quest-history .history-table thead {
  background-color: #cccccc;
}

.sourcing-water .player-panel .container .quest-history .history-table td {
  padding: 5px;
}

.sourcing-water .player-panel .container .quest-history .history-table .history-row {
  cursor: pointer;
}

.sourcing-water .player-panel .container .quest-history .history-table .history-row:nth-child(even) {
  background-color: #eeeeee;
}

.sourcing-water .player-panel .container .quest-history .history-table .history-row:nth-child(odd) {
  background-color: #ffffff;
}

.sourcing-water .player-panel .container .quest-history .history-table .history-row:hover {
  background-color: #ffffcc;
}

.sourcing-water .player-panel .container .quest-history .history-table .history-row.selected {
  background-color: #f0d5c2;
}

.sourcing-water .player-panel .action-container {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .player-panel .action-container .action-bt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .player-panel .action-container .action-bt .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sourcing-water .player-panel .action-container .action-bt.enable {
  cursor: pointer;
}

.sourcing-water .player-panel .action-container .action-bt.enable:hover {
  background-color: #cccccc;
}

.sourcing-water .player-panel .chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sourcing-water .player-panel .chart-container .chart {
  margin: 10px;
  width: 400px;
}

.sourcing-water .player-panel.open {
  bottom: 0px;
}

.sourcing-water .player-panel .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourcing-water .player-panel .icon-container .icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */