
//==============general================
$pc-media: 1024px;
$pad-media: 640px;
$mobile-media: 360px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}
@mixin mobile-width() {
    @media only screen and (min-width: $mobile-media) {
        @content;
    }
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

//==============vue================
$vue-transition: 0.5s;

.fade-enter-active, .fade-leave-active {
	transition: opacity $vue-transition;
}

.fade-enter, .fade-leave-to{
	opacity: 0;
}

//==============app================
.sourcing-water{
    width: 100%;
	height: 100%;
    position: relative;
    overflow: hidden;

    @mixin cover-page{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 2000;
        .center-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            .logo{
                width: 100px;
                height: 100px;
            }
            .title{
                font-size: 2em;
                color: #333333;
            }
        }
        .bottom-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
            background-color: rgba(0,0,0,0.5);
            padding: 10px;
            box-shadow: 0px 0px 5px #000;
            .info{
                font-size: 1.2em;
                color: #ffffff;
            }
        }
    }
    .loading-page{
        @include cover-page;
        background-color: #fffdf4;
    }
    .processing-page{
        @include cover-page;
        background-color: rgba(0,0,0,0.3);
    }
    .main-map{
        width: 100%;
        height: 100%;
    }

    @mixin icon-panel{
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0.6);
        border-radius: 5px;
        z-index: 1000;
        .icon{
            width: 40px;
            height: 40px;
            margin: 5px;
            cursor: pointer;
        }
    }
    .topbar{
        @include icon-panel;
        top: 10px;
        left: 10px;
        .searchbox{
            margin: 5px;
        }
    }
    .side-icon-panel{
        @include icon-panel;
        top: 5px;
        right: 5px;
        flex-direction: column;
    }
    .bottom-icon-panel{
        @include icon-panel;
        bottom: 5px;
        left: 5px;
    }

    .logo-container{
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 1000;
        .logo{
            height: 50px;
            border-radius: 5px;
        }
    }

    @mixin panel{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 1000;
        transition: left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s;
        box-shadow: 0px 0px 5px #333333;
        display: flex;
        flex-direction: column;
        .close-bt{
            position: absolute;
            width: 30px;
            height: 30px;
            cursor: pointer;
            right: 15px;
            top: 10px;
        }
        .content-scroll{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        .container{
            padding: 20px 10px;
            flex-grow: 1;
            .title{
                font-size: 1.3em;
                padding: 5px 10px;
                border-bottom: 1px solid #333333;
            }
            .sub-title{
                font-size: 1.2em;
                padding: 5px 10px;
            }
            .content-block{
                margin: 10px 0px;
                p{
                    text-indent: 1em;
                    font-size: 1.1em;
                    line-height: 1.5em;
                    &:first-of-type{
                        &::first-letter{
                            color: #ff3333;
                            font-size: 1.3em;
                        }
                    }
                }
                a{
                    color: #6666ff;
                    text-decoration: none;
                    &:hover{
                        color: #ff3333;
                    }
                }
                ul{
                    li{
                        line-height: 1.5em;
                    }
                }
            }
            .quest-item{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 5px 10px;
                &:hover{
                    border-radius: 5px;
                    border: 1px solid #333333;
                    cursor: pointer;
                }
                &.selected{
                    background-color: #cccccc;
                }
                .quest-content{
                    font-size: 1.1em;
                    &.status-ok{
                        color: #000000;
                    }
                    &.status-demo{
                        color: #ff9933;
                    }
                    &.status-no-data{
                        color: #ff3333;
                    }
                    &.status-develop{
                        color: #3333ff;
                    }
                    &.status-plan{
                        color: #cccccc;
                    }
                }
            }
            .bt{
                margin: 5px;
                padding: 5px 10px;
                background-color: #555555;
                color: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
            }
            .item-label{
                margin: 5px;
                color: #333333;
            }
            .option-item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5px;
                input[type="checkbox"]{
                    width: 20px;
                    height: 20px;
                }
                select{
                    padding: 3px;
                    border-radius: 3px;
                    max-width: 100px;
                }
            }
            .quest-history{
                overflow-x: auto;
                .history-table{
                    width: 100%;
                    border-collapse:collapse;
                    thead{
                        background-color: #cccccc;
                    }
                    td,th{
                        padding: 5px;
                    }
                    .history-row{
                        cursor: pointer;
                        &:nth-child(even){
                            background-color: #eeeeee;
                        }
                        &:nth-child(odd){
                            background-color: #ffffff;
                        }
                        &:hover{
                            background-color: #ffffcc;
                        }
                        &.selected{
                            background-color: #f0d5c2;
                        }
                        .icon-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .icon{
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    
                }
            }
        }
        .action-container{
            width: 100%;
            border-top: 1px solid #333333;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .action-bt{
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                }
                &.enable{
                    cursor: pointer;
                    &:hover{
                        background-color: #cccccc;
                    }
                }
            }
        }
        .chart-container{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 10px;
            .chart{
                margin: 10px;
                width: 400px;
            }
        }
        .input-container{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 5px;
            .input-item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 5px 10px;
                .title{
                    padding: 5px;
                }
                input[type="number"]{
                    width: 50px;
                }
            }
        }
        .icon-container{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            .icon{
                width: 30px;
                height: 30px;
                margin: 5px;
                cursor: pointer;
            }
        }
        
    }
    .left-panel{
        @include panel;
        border-radius: 0px 5px 5px 0px;
        top: 0px;
        left: -250px;
        width: 250px;
        height: 100%;
        &.open{
            left: 0px;
        }
    }
    .right-panel{
        @include panel;
        border-radius: 5px 0px 0px 5px;
        top: 0px;
        right: -250px;
        width: 250px;
        height: 100%;
        &.open{
            right: 0px;
        }
    }
    .bottom-panel{
        @include panel;
        border-radius: 5px 5px 0px 0px;
        bottom: -300px;
        left: 0px;
        width: 100%;
        height: 300px;
        &.open{
            bottom: 0px;
        }
    }
    .center-panel{
        @include panel;
        border-radius: 5px;
        padding: 20px 10px;
        left: 0px;
        top: 0px;
        margin: 10px;
        width: 600px;
        height: 400px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        .container{
            background-color: #eeeeee;
        }
    }
    .player-panel{
        @include panel;
        border-radius: 5px 5px 0px 0px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        width: 250px;
        height: 50px;
        &.open{
            bottom: 0px;
        }
    }
    .quest-input-panel{
        @include panel;
        border-radius: 5px 5px 0px 0px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        width: 400px;
        max-height: 300px;
        &.open{
            bottom: 0px;
        }
    }
    .commutag{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        color: #333333;
        max-width: 240px;
        .photo{
            padding: 5px;
            width: 200px;
        }
        .title{
            font-weight: bold;
        }
    }
}